:root {
  --color-light: #fff;
  --color-primary: #0c1137;
  --color-secondary: #0061ff;
  --color-third: #00dbff;
  --color-alert: #e6e64d;
  --color-bluish-gray: #0a1929;

  --font-Poppins: 'Poppins', sans-serif;
  --font-Open-Sans: 'Open Sans', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;

  --screen-lg: 1024px;
  --screen-md: 720px;
  --screen-sm: 420px;

  --font-size-xxlg: 3rem;
  --font-size-xlg: 2.5rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
  --font-size-xsm: 0.8rem;

  --line-height-xxlg: 3.2rem;
  --line-height-xlg: 2.2rem;
  --line-height-lg: 2.2rem;
  --line-height-md: 1.7rem;
  --line-height-sm: 1.2rem;
  --line-height-xsm: 1rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Poppins);
}
.overflow-hidden {
  overflow: hidden;
}
body {
  color: var(--color-light);
  background-color: var(--color-primary);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}
small {
  font-size: var(--font-size-xsm);
  line-height: var(--line-height-xsm);
}
p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-family: var(--font-Open-Sans);
  color: #ffffffe8;
}
p > b {
  color: #fff;
}
h4 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
h3 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}
h2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}
h1 {
  font-size: var(--font-size-xlg);
  line-height: var(--line-height-xxlg);
}

@media (max-width: 420px) {
  small {
    font-size: calc(var(--font-size-xsm) - 0.2rem);
    line-height: calc(var(--line-height-xsm) - 0.2rem);
  }
  p {
    font-size: calc(var(--font-size-sm) - 0.2rem);
    line-height: calc(var(--line-height-sm) - 0.2rem);
    font-family: var(--font-Open-Sans);
    color: #ffffffe8;
  }
  h4 {
    font-size: calc(var(--font-size-sm) - 0.2rem);
    line-height: calc(var(--line-height-sm) - 0.2rem);
  }
  h3 {
    font-size: calc(var(--font-size-md) - 0.2rem);
    line-height: calc(var(--line-height-md) - 0.2rem);
  }
  h2 {
    font-size: calc(var(--font-size-lg) - 0.35rem);
    line-height: calc(var(--line-height-lg) - 0.35rem);
  }
  h1 {
    font-size: calc(var(--font-size-xlg) - 0.2rem);
    line-height: calc(var(--line-height-xxlg) - 0.2rem);
  }
}
